@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$color-primary : #205da0;

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #717171;
    font-weight: 300;
}


.has-text-bold{
    font-weight: 700;
}

.nav-desktop{
    background: #00a1e0;
    color: #fff;
    font-weight: 300;
    padding-top: 7px;
    padding-bottom: 7px;
    .icon{
        font-size: 25px;
        vertical-align: sub;
    }
    .form-control{
        border-radius: 30px;
        height: 45px;
        border: 0;
        font-size: 15px;
        font-weight: 300;
        padding: .375rem 1rem;
        &::placeholder{
            color: #717171;
        }
    }
}

.nav-header {
    .nav-link{
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        color: #fff;
        padding: 0;
        text-align: center;
        margin: 0 3px;
        &.active, &:hover{
            background:rgba(66,66,66,.2);
        }
        span{
            position: absolute;
            right: -4px;
            top: -2px;
            font-size: 12px;
            width: 17px;
            height: 17px;
            border-radius: 100%;
            background: #e74b32;
            text-align: center;
        }
    }
}

.nav-head-act{
    display: flex;
    p{
        margin: 0;
    }
    .name{
        font-size: 14px;
    }
    .level{
        font-size: 12px;
    }
}

.user-img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    overflow: hidden;
}

.header-banner{
    background: url('../img/header-bg.jpg') no-repeat bottom center;
    background-size: cover;
    color: #fff;
    h1{
        margin-top: 109px;
        font-size: 56px;
    }
    p{
        font-size: 24px;
    }
}


.media-title{
    width: 67%;
    margin: auto;
    text-align: center;
}


.title{
    color: $color-primary;
    line-height: 52px;
    &.is-2{
        font-size: 26px;
        font-weight: 700;
    }
    &.title-dark {
        color: #424242;
    }
    &.is-3{
        font-size: 32px;
        font-weight: 700;
    }
    &.is-20{
        font-size: 20px;
    }
    &.is-normal{
        font-weight: 400;
    }
}

.portfolio{
    position: relative;
    background: #e9f7fc;
    &::after{
        position: absolute;
        content: "";
        background: url('../img/Bground.png') no-repeat bottom center;
        background-size: cover;
        height: 223px;
        width: 100%;
        bottom: -223px;
    }
    .portfolio-content{
        padding: 10px;
        .swiper-slide{
            background: #fff;
            height: auto;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.34);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.34);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.34);
            border-radius: 10px;
            overflow: hidden;
        }
     
    }
    .swiper-button-next, .swiper-button-prev {
        top: 63%;
        width: 32px;
        height: 26px;
    }

    .swiper-button-prev{
        left: 100px;
    }
    .swiper-button-next{
        right: 100px;
    }
}

.team{
    position: relative;
    .team-content{
        padding: 10px;
        .swiper-slide{
            background: #fff;
            height: auto;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.34);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.34);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.34);
            border-radius: 10px;
            overflow: hidden;
        }
     
    }
    .swiper-button-next, .swiper-button-prev {
        top: 64%;
        width: 32px;
        height: 26px;
    }

    .swiper-button-prev{
        left: 100px;
    }
    .swiper-button-next{
        right: 100px;
    }
    h5{
        line-height: 25px;
    }
}

.methode-section{
    margin-top: 300px;
    .content-methode-left{
        padding-right: 70px;
    }
    .content-methode-right{
        padding-left: 36px;
    }
}

.service{
    position: relative;
    background: #e9f7fc;
    margin-top: 228px;
    &::before{
        position: absolute;
        content: "";
        background: url('../img/Bground1.png') no-repeat top center;
        background-size: cover;
        height: 223px;
        width: 100%;
        top: -223px;
    }
}

.trough{
    position: relative;
    font-size: 24px;
    color: #929292;
    &::before{
        position: absolute;
        content: "";
        height: 3px;
        top: 50%;
        left: 0;
        right: 0;
        background: red;
        transform: rotate(-5deg);
    }
    &.is-white{
        color: #fff;
    }
}

.tree-point{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        height: 2px;
        background: #6dcff6;
        top: 32px;
    }
    .circle-dot::before{
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #6dcff6;
        left: 0;
        top: 28px;

    }
    .circle-dot::after{
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #6dcff6;
        right: 0;
        top: 28px;
    }

}

.content-point{
    border-radius: 10px;
    overflow: hidden;
}

.icons{
    display: flex;
    background: $color-primary;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px #fff solid;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.33);
}

.ico{
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
}

.ico-book{
    background: url('../img/ic-library-books.png') no-repeat center center;
    width: 40px;
    height: 40px
}

.items-oftree .col-md-4 {
    background: #fff;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    -ms-flex: 0 0 30.333%;
    flex: 0 0 30.333%;
    max-width: 0 0 30.333%;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.33);
    border-radius: 10px;
    overflow: hidden;
    ul{
        padding-left: 22px;
        li{
            list-style-type:"- ";
        }
    }
    .p-4 {
        padding-bottom: 40px !important;
    }
}

.is-size-36{
    font-size: 36px;
    font-weight: 700;
}

.prices-carte{
    color: #3b3b3b;
    font-weight: 700;
    .trough{
        color: #3b3b3b;
    }
}

.meta-post{
    font-size: 13px;
}

.team{
    background: url('../img/left-bg.png') no-repeat left top;
    background-size: 165px;
}

.diskon{
    background: url('../img/Diskont.png') no-repeat top center;
    background-size: cover;
    padding-top: 259px;
    padding-bottom: 100px;
    li{
        color: #3b3b3b;
    }
}



.btn-order{
    position: relative;
    background: #fbab3a;
    color: #fff;
    padding-right: 49px;
    font-size: 30px;
    line-height: 28px;
    &::before{
        position: absolute;
        content: "";
        background: url('../img/logout.png') no-repeat center center;
        width: 30px;
        height: 21px;
        background-size: 28px;
        right: 6px;
        top: 27px;
    }
    .order{
        font-size: 16px;
    }
    &:hover{
        background: #fbab3a;
        color: #fff;
    }
}

.btn-order2{
    background: #f8a452;
    color: #fff;
    padding: 13px 38px;
    &:hover{
        background: #fbab3a;
        color: #fff;
    }
}

.readmore{
    position:absolute;
    bottom:15px;
    width: 98%;
}

.is-1rem{
    font-size: 20px;
    font-weight: 700
}

.lst{
    font-size: 24px;
    font-weight: 700;
}

.card-header{
    font-size: 18px;
    font-weight: 400;
}

.card-body {
    padding-left: 49px;
}

.panel-heading:before {
    float: left !important;
    content:"+";
    padding-right: 5px;
}
.panel-heading.collapsed:before {
    float: left !important;
    content:"+";
}
.panel-heading:hover, 
.panel-heading:active, 
.panel-heading:focus  {
    text-decoration:none;
}

.ico-order{
    background: url('../img/logout.png') no-repeat center center;
    width: 26px;
    height: 21px;
    background-size: 22px;
    vertical-align: text-bottom;
}

.lefy{
    padding-top: 30px;
}

.klis {
    margin-top: 28px;
    margin-bottom: 100px;
}

.footer{
    background: #434a54;
    color: #aeaeae;
    padding-top: 15px;
    padding-bottom: 10px;
    .footer-title{
        margin-top: 15px;
        font-size: 16px;
        color: #fff;
        margin-bottom: 15px;
    }
    .nav-link{
        padding-left: 0;
        color: #aeaeae;
    }
    .form-control{
        border-radius: 30px;
        font-size: 15px;
    }
}

.mediasos{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px #aeaeae solid;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    &:hover{
        background: #00a1e0;
    }
}

.ico-fb{
    background: url('../img/facebook-app-symbol.png') no-repeat center center;
    width: 20px;
    height: 20px;
    background-size: 9px;
}

.ico-tw{
    background: url('../img/twitter-logo-silhouette.png') no-repeat center center;
    width: 20px;
    height: 20px;
    background-size: 17px;
}

.ico-gplus{
    background: url('../img/google-plus-symbol.png') no-repeat center center;
    width: 20px;
    height: 20px;
    background-size: 17px;
}

.nav-mobile{
    display: none;
}

.service-content, .tre-point{
    display: none;
}

.service-content{
    background: #fff;
    .p-4{
        padding-bottom: 40px !important;
    }
}

.tre-point{
    .swiper-button-next, .swiper-button-prev {
        top: 58%;
        width: 32px;
        height: 26px;
    }
}

.search{
    background: #fff;
    padding: 10px;
    display: none;
}

.leftmenu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: #fff;
    z-index: 999;
    transition: width .3s;
    overflow: hidden;
    &.active{
        width: 100%;
    }
    .nav-link{
        color: #000;
    }
}

@media (max-width: 575.98px) { 
    .lst {
        font-size: 20px;
        font-weight: 700;
    }
}

@media (max-width: 767.98px) {
    .media-title {
        width: 100%;
    }
    .title.is-2{
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
    }
    .title.is-3 {
        font-size: 26px;
        font-weight: 400;
        line-height: 34px;
    }
    .portfolio .swiper-button-prev {
        left: 10px;
    }
    .portfolio .swiper-button-next {
        right: 10px;
    }
    .team .swiper-button-prev {
        left: 10px;
    }
    .team .swiper-button-next {
        right: 10px;
    }
    .methode-section .content-methode-right {
        padding-left: 15px;
    }
    .methode-section .content-methode-left {
        padding-right: 15px;
    }
    .btn-order {
        font-size: 21px;
        display: block;
        &br {
            display: contents;
        }
        &:before{
            right: 13px;
            top: 11px;
        }
        .order{
            font-size: 21px;
        }
    }
    .t-hide{
        display: none;
    }
    .footer .text-right{
        text-align: left !important;
    }



}

@media (max-width: 991.98px) { 
    .header-banner h1 {
        margin-top: 42px;
        font-size: 38px;
    }
    .header-banner p {
        font-size: 19px;
    }   
    .items-oftree{
        width: 100%;
        overflow: hidden;
        .col-md-4{
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
       
    }
    .m-none{
        display: none;
    }
    .alumni{
        .pr-5{
            padding-right: 15px !important;
        }
        .pl-5{
            padding-left: 15px !important;
        }
    }
    .service-desk{
        display: none;
    }

    .service-content, .tre-point{
        display: block;
    }
}

@media (max-width: 1199.98px) { 
    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display: block;
        background: #00a1e0;
        color: #fff;
        .icon{
            font-size: 25px;
        }
        .nav-lisk{
            flex: 46px;
            max-width: 46px;
            &.last{
                flex: 78px;
                max-width: 78px;
            }
        }
    }
    .items-oftree .col-md-4 {
        margin-left: 13px;
        margin-right: 13px;
    }
    .btn-order {
        font-size: 21px;
    }
}